body {
    background-image: url('image_85-iRn0mk6s_-transformed.png');
    font-family: 'Arial', sans-serif;
	background-position: left bottom;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.wrapper {
    background-color: #6F7666;
}

/* CSS Document */
a {
	color: #FFF;
}

h2 {
	font-size: 28px;
	font-family: 'Playfair Display', serif;
	color:#6F7666;
	margin-top: 40px;
	margin-bottom: 30px;
}
h3 {
	font-size: 16px;
	font-family: 'Playfair Display', serif;
	color:#888;
	margin-top: 40px;
	margin-bottom: 30px;
}
#container {
	margin: 0 auto;
    padding: 10px 50px;
    width: 1440px
}

.container:nth-child(2) {
    flex-direction: column;
}

nav {
	background-color: transparent;
}

nav ul {
    display: flex;
    margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
    margin-right: 25px;
	display: block;
	}

a#lvl1 {
	display:block;
    
    border-radius: 1000px;
    padding: 10px 25px;
	color:#FFF;
	font-size:20px;
	text-decoration:none;
}

nav a#lvl1:hover { 
	background-color: #633232;
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
    padding: 10px 25px;
    border-radius: 20px;
    background-color: #1E1E1E;
	position: absolute; 
	top: 40px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover ul {
	display: inherit;
}
nav ul li:hover a#lvl1 {
    background-color: #633232;
	display:block;
}	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width: fit-content;
    font-size: 20px;
    height: fit-content;
    margin-bottom: 10px;
	float:none;
    display: block;
	position: relative;
}
nav ul ul li a:hover {
    color: #888888;
}

.container {
	width: 1440px;
	padding: 50px 50px;
	border-bottom: 1px solid #282B24;
	display: flex;
	column-gap: 40px;
	margin: 0 auto;
	background-color: #E2DFD6;
	border-radius: 0 0px 40px 40px;
}
h1 {
	font-size: 44px;
	font-weight: 700;
	color: #6F7666;
	margin-bottom: 20px;
}
h1 b {
	font-family: 'Playfair Display', serif;

}
p {
	color: #000;
	text-align: justify;
	font-family: Arial;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 144.49%;
	text-indent: 50px;
}
p.no {
	text-indent: 0;
}
/* .right-side p {
	width: 635px;
} */
@media(max-width: 1440px) {
	body {
		padding: 0px 50px;
	}
	.container, #container {
		width: 100%;
	}
	nav a#lvl1, a {
		font-size: 16px;
	}
	nav ul ul {
		
		top: 30px; /* the height of the main nav */
	}
}
